/coverage
/demo/07023003.mp3
/demo/07023003-2channel.dat
/demo/custom-markers/custom-markers.js
/demo/custom-markers/custom-markers.js.map
/demo/peaks.js
/demo/peaks.js.map
/demo/peaks.min.js
/demo/peaks.min.js.map
/demo/peaks.esm.js
/demo/peaks.esm.js.map
/demo/peaks.ext.js
/demo/peaks.ext.js.map
/demo/peaks.ext.min.js
/demo/peaks.ext.min.js.map
/demo/sample.mp3
/dist
/docs
/node_modules
