body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

#titles, #waveform-container {
  margin: 24px auto;
  width: 1000px;
}

#zoomview-container, #overview-container {
  margin: 0 0 24px 0;
  line-height: 0;
  -moz-box-shadow: 3px 3px 20px #919191;
  -webkit-box-shadow: 3px 3px 20px #919191;
  box-shadow: 3px 3px 20px #919191;
}

#zoomview-container {
  height: 200px;
}

#overview-container {
  height: 85px;
}

#demo-controls {
  margin: 0 auto 24px auto;
  width: 1000px;
  display: flex;
  align-items: center;
}

#demo-controls button {
  background: #fff;
  border: 1px solid #919191;
  cursor: pointer;
}

#audio {
  flex: 0 0 30%;
}

#controls {
  flex: 1;
  margin-left: 1em;
}

#seek-time {
  width: 4em;
}

.log {
  margin: 0 auto 24px auto;
  width: 1000px;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

table th, table td {
  padding: 0.5em;
}

.hide {
  display: none;
}

p code {
  margin-left: 4em
}
