body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

#titles {
  margin: 24px auto;
  width: 1000px;
}

.waveform-container {
  /* margin: 0 0 24px 0; */
  margin: 24px auto;
  width: 1000px;
  line-height: 0;
  -moz-box-shadow: 3px 3px 20px #919191;
  -webkit-box-shadow: 3px 3px 20px #919191;
  box-shadow: 3px 3px 20px #919191;
  overflow: clip;
}

#zoomview-container {
  height: 200px;
  margin: 0;
  line-height: 0;
}

#overview-container {
  height: 85px;
}

#scrollbar-container {
  height: 16px;
  background-color: #ccc;
}

#demo-controls {
  margin: 0 auto 24px auto;
  width: 1000px;
  display: flex;
  align-items: top;
}

#demo-controls button {
  background: #fff;
  border: 1px solid #919191;
  cursor: pointer;
}

#audio {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
}

#controls {
  flex: 1;
  margin-left: 1em;
}

#controls div {
  margin-top: 3px;
  margin-bottom: 3px;
}

#seek-time {
  width: 4em;
}

.log {
  margin: 0 auto 24px auto;
  width: 1000px;
}

table {
  width: 100%;
}

table th {
  text-align: left;
}

table th, table td {
  padding: 0.5em;
}

.hide {
  display: none;
}

p code {
  margin-left: 4em
}
