# This workflow will do a clean install of node dependencies, build the source
# code and run tests across different versions of node. For more information
# see:
# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - node-version: 16.x
            browser: "ChromeHeadlessWithoutAutoplayPolicy"
          # - node-version: 16.x
          #   browser: "FirefoxHeadless"

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run lint -- --max-warnings=0
    - run: npm run build
    - run: npm run test -- --browsers=${{ matrix.browser }}
